@import "./partials/colors";
@import "./partials/reset";
@import "./partials/spacings";

header {
  min-height: 200px;
}

header ul li {
  list-style-type: none;
  display: inline-block;
}

nav img {
  max-height: 50px;
  width: auto;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}
